@font-face {
	font-family: Futura;
	src: url('./fonts/Futura\ PT.ttf');
}

@font-face {
	font-family: AdventPro;
	src: url('./fonts/AdventPro.ttf');
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	position: relative;
}

.ublock {
	text-align: center;
	margin: 0 auto;
}

.ublock>fas {
	margin-top: 30px;
}

* {
	font-family: Futura;
	color: #596dff;
}

h1 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 80px;
}

p {
	color: black;
	font-size: 40px;
	margin: 0 auto;
}

.catalogue-main {
	width: 100%;
	height: fit-content;
	background: linear-gradient(110deg, #ff7b00, #ff0055);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalogue {
	margin-top: -50px;
	margin-bottom: 50px;
	width: 75%;
	height: fit-content;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-wrap: wrap;
	padding: 40px 70px 20px 70px;
	justify-content: space-around;
}

.photo-container {
	width: 300px;
	height: 400px;
	background-position: center;
	background-size: 100%;
	margin-bottom: 40px;
	position: relative;
}

.photo-text {
	color: white;
	top: 0;
	position: absolute;
	margin: 0;
	text-align: left;
	line-height: 0.8;
	background-image: linear-gradient(180deg, #000000 30%, #ff005500 100%)
}

.photo-subtext {
	color: white;
	bottom: 0;
	position: absolute;
	font-size: 30px;
	background-image: linear-gradient(0deg, #000000 30%, #ff005500 100%)
}

.extra {
	left: -100%;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #00000054;
	z-index: 21;
	display: flex;
	justify-content: center;
	align-items: center;
}

.extradiv {
	width: 50%;
	height: 70%;
	background: white;
	z-index: 22;
	display: flex;
}

#photo-cont2 {
	background-position: center;
	background-size: 120%;
	height: 100%;
	width: 500px;
	background-image: url('./dog-images/1.jpeg');
}

#text-cont {
	width: 50%;
	overflow: hidden;
}

#text-cont > h1 {
	color: #000000;
	margin: 0;
}

#text-cont > p {
	overflow-y: scroll;
	height: 80%;
}

@media screen and (max-width: 500px) {
	.extra {
		width: 100%;
	}

		#text-cont>h1 {
			color: #000000;
			margin: 0;
		}
	
		#text-cont>p {
			overflow-y: scroll;
			height: 80%;
		}
}